* {
    box-sizing:border-box;
}
#background {
    background-image: url("/website/plaatjes/overwatch.jpg") ;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color:black;
}

nav {
    z-index:2;
    max-width:1960px;
    width:100%;
    background-color:rgb(22, 10, 129);
    padding:0;
    margin:0;
    position:fixed;
    top:0px;
}
    
#nav-balk {
    font-size:19px;
    line-height:48px;
    text-align:center;
    height:80px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(22, 10, 129);
}

#nav-balk > li {
    text-align:center;
    height:80px;
    float: left;
}

#nav-balk > li a {
    display: block;
    color:rgb(231, 12, 12);
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}

#nav-balk  >li > a:hover {
    background-color: #111;
    height:80px;
}

html, body { padding: 0; 
    margin: 0; 
    height: 100%; 
}

#head {
    height:80px;
    width:auto;
}


#wrapper1 {
    display:inline-block; 
    width:50%;
    height:50%;          
    position:relative;
    max-width:1500px;
    max-height:500px;
    top:190px;
    left:80px;
    background:rgba(201, 185, 185, 0.363);
    margin:0;
    padding:0;
}
#wrapper1::after {
    padding-top:56.25%; 
    display:block;
    content:'';
}

.content {
    position:absolute;
    top:0; 
    bottom:0; 
    right:0; 
    left:0;  
    border:solid black;            
}

#wrapper2 {
    display:inline-block;
    width:20%;
    height:50%;
    position:relative;
    max-width:300px;
    max-height:500px;
    top:190px;
    left:160px;
    background:white;
    z-index:1;
    margin:0;
    padding:0;
}

#wrapper2::after {
    padding-top:56.25%;
    display:block;
    content:'';
}



#side > ul {
    z-index:1;
    padding:0;
    margin:0;
    list-style-type:none;
}

li.sidebar {
    text-align:center;
    padding:0;
    margin-top:35px;
    font-weight:bold;
    color:rgb(109, 95, 81);
    list-style-type:none;
    font-size:40px;
    font-family:fantasy;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:35px;
    overflow:hidden;
    height:50px;
    z-index:1;
}
.sidebar > a {
    text-decoration:none;
    display:block;
    color:rgb(109, 95, 81);
    max-height:44px;
    height:33%;
    padding:auto;
    z-index:1;
}

.sidebar > a:hover {
    color:rgb(250, 123, 3);
    z-index:1;
}


#side-pic {
    max-width:50px;
    position:absolute;
    z-index:2;
    top:40px;
    left:40px;

}

#media1 {
    top:127px;
    position:absolute;
    height:34px;
    z-index:2;
    left:40px;
}

p {
    margin:0;
    padding:7.5px;
}